MogwaiLauncher.WinApp/Service References/TurbineTransferService/DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.wbie.com/Platform/Turbine/DataContracts" elementFormDefault="qualified" targetNamespace="http://www.wbie.com/Platform/Turbine/DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Turbine.Tts.Logic.Entities" />
  <xs:import namespace="http://www.turbine.com/SE/DataContracts" />
  <xs:complexType name="MigrateRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.turbine.com/SE/DataContracts" base="q1:BaseRequest">
        <xs:sequence>
          <xs:element name="Account" nillable="true" type="xs:string" />
          <xs:element name="GlsTicket" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
          <xs:element name="SourceShard" nillable="true" type="xs:string" />
          <xs:element name="Subscription" nillable="true" type="xs:string" />
          <xs:element name="TargetShard" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Turbine.Tts.Logic.Entities" name="TransferItems" nillable="true" type="q2:TransferItems" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MigrateRequest" nillable="true" type="tns:MigrateRequest" />
  <xs:complexType name="MigrateResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://www.turbine.com/SE/DataContracts" base="q3:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="SuccessfullyQueued" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MigrateResponse" nillable="true" type="tns:MigrateResponse" />
  <xs:complexType name="GetTransferConfigurationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Configuration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentWaitTime" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTransferConfigurationResponse" nillable="true" type="tns:GetTransferConfigurationResponse" />
  <xs:complexType name="TokenBalanceRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://www.turbine.com/SE/DataContracts" base="q4:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="SubscriptionKey" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TokenBalanceRequest" nillable="true" type="tns:TokenBalanceRequest" />
  <xs:complexType name="GetTokenBalanceResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://www.turbine.com/SE/DataContracts" base="q5:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountEmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CharacterTransferTokenBalance" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetTokenBalanceResponse" nillable="true" type="tns:GetTokenBalanceResponse" />
  <xs:complexType name="PointBalanceRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://www.turbine.com/SE/DataContracts" base="q6:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="SubscriptionKey" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PointBalanceRequest" nillable="true" type="tns:PointBalanceRequest" />
  <xs:complexType name="GetPointBalanceResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://www.turbine.com/SE/DataContracts" base="q7:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountEmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PointBalance" type="xs:int" />
          <xs:element minOccurs="0" name="TokenBalance" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPointBalanceResponse" nillable="true" type="tns:GetPointBalanceResponse" />
  <xs:complexType name="GetAllCharactersRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://www.turbine.com/SE/DataContracts" base="q8:BaseRequest">
        <xs:sequence>
          <xs:element name="Subscription" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllCharactersRequest" nillable="true" type="tns:GetAllCharactersRequest" />
  <xs:complexType name="GetAllCharactersResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://www.turbine.com/SE/DataContracts" base="q9:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsBanned" type="xs:boolean" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Turbine.Tts.Logic.Entities" minOccurs="0" name="Shards" nillable="true" type="q10:ArrayOfCharactersOnShard" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllCharactersResponse" nillable="true" type="tns:GetAllCharactersResponse" />
</xs:schema>