MogwaiLauncher.WinApp/Service References/TurbineTransferService/DataContracts1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://www.turbine.com/SE/DataContracts" elementFormDefault="qualified" targetNamespace="http://www.turbine.com/SE/DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.turbine.com/SE" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="BaseRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseRequest" nillable="true" type="tns:BaseRequest" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://www.turbine.com/SE" minOccurs="0" name="ApiError" nillable="true" type="q1:ApiError" />
      <xs:element name="HasError" type="xs:boolean" />
      <xs:element name="RequestId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
</xs:schema>