MogwaiLauncher.WinApp/Service References/TurbineTransferService/SE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.turbine.com/SE" elementFormDefault="qualified" targetNamespace="http://www.turbine.com/SE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ApiError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorArgument" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerApiError" nillable="true" type="tns:ApiError" />
      <xs:element minOccurs="0" name="ObjectType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApiError" nillable="true" type="tns:ApiError" />
</xs:schema>