MogwaiLauncher.WinApp/Service References/TurbineTransferService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.turbine.com/SE/Bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TurbineTransferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.turbine.com/SE/Bindings" location="" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://www.wbie.com/Platform/Turbine/DataContracts" />
      <xsd:import namespace="http://www.turbine.com/SE/DataContracts" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Turbine.Tts.Logic.Entities" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://www.turbine.com/SE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TurbineTransferService_Migrate_InputMessage">
    <wsdl:part name="parameters" element="tns:Migrate" />
  </wsdl:message>
  <wsdl:message name="TurbineTransferService_Migrate_OutputMessage">
    <wsdl:part name="parameters" element="tns:MigrateResponse" />
  </wsdl:message>
  <wsdl:message name="TurbineTransferService_GetTransferConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransferConfiguration" />
  </wsdl:message>
  <wsdl:message name="TurbineTransferService_GetTransferConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransferConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="TurbineTransferService_GetTokenBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenBalance" />
  </wsdl:message>
  <wsdl:message name="TurbineTransferService_GetTokenBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="TurbineTransferService_GetPointBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPointBalance" />
  </wsdl:message>
  <wsdl:message name="TurbineTransferService_GetPointBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPointBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="TurbineTransferService_GetAllCharacters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCharacters" />
  </wsdl:message>
  <wsdl:message name="TurbineTransferService_GetAllCharacters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCharactersResponse" />
  </wsdl:message>
  <wsdl:message name="TurbineTransferService_CreditTransferTokenBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:CreditTransferTokenBalance" />
  </wsdl:message>
  <wsdl:message name="TurbineTransferService_CreditTransferTokenBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreditTransferTokenBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="TurbineTransferService">
    <wsdl:operation name="Migrate">
      <wsdl:input wsaw:Action="http://tempuri.org/TurbineTransferService/Migrate" message="tns:TurbineTransferService_Migrate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TurbineTransferService/MigrateResponse" message="tns:TurbineTransferService_Migrate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransferConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/TurbineTransferService/GetTransferConfiguration" message="tns:TurbineTransferService_GetTransferConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TurbineTransferService/GetTransferConfigurationResponse" message="tns:TurbineTransferService_GetTransferConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTokenBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/TurbineTransferService/GetTokenBalance" message="tns:TurbineTransferService_GetTokenBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TurbineTransferService/GetTokenBalanceResponse" message="tns:TurbineTransferService_GetTokenBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPointBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/TurbineTransferService/GetPointBalance" message="tns:TurbineTransferService_GetPointBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TurbineTransferService/GetPointBalanceResponse" message="tns:TurbineTransferService_GetPointBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCharacters">
      <wsdl:input wsaw:Action="http://tempuri.org/TurbineTransferService/GetAllCharacters" message="tns:TurbineTransferService_GetAllCharacters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TurbineTransferService/GetAllCharactersResponse" message="tns:TurbineTransferService_GetAllCharacters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreditTransferTokenBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/TurbineTransferService/CreditTransferTokenBalance" message="tns:TurbineTransferService_CreditTransferTokenBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TurbineTransferService/CreditTransferTokenBalanceResponse" message="tns:TurbineTransferService_CreditTransferTokenBalance_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="TurbineTransferService">
    <wsdl:port name="TurbineTransferService" binding="i0:TurbineTransferService">
      <soap:address location="http://xfer.ddo.com/TurbineTransferService/TurbineTransferService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>